<% layout('layouts/boilerplate') -%>


    <div class="col-6 offset-3">
        <h1>Edit Campground</h1>
        <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-lable" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title] " required
                    value="<%= campground.title %> ">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-lable" for="location">location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required
                    value="<%= campground.location %> ">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="sr-only" for="price">Price</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input type="text" class="form-control" id="price" placeholder="0.0" name="campground[price]"
                        required value="<%= campground.price %> ">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-lable" for="description">discriptions</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required> <%=campground.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="image">Add More Images</label>
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose Images...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <% campground.images.forEach(function(img, i) { %>
                    <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                    <% })%>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-success">ADD</button>
            </div>
        </form>
    </div>

    <footer>
        <a href="/campgrounds/<%= campground._id %>">Back</a>
    </footer>