<% layout('layouts/boilerplate') -%>

    <div class="row">
        <div class="col-6 d-flex justify-content-center">
            <div class="card mb-3">
                <img class="card-img-top" src="<%= campground.image%>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item ">@<%= campground.author.username %>
                    </li>
                    <li class="list-group-item">$<%= campground.price %>
                    </li>
                </ul>
                <% if( currentUser && campground.author.equals(currentUser._id)) {%>
                    <div class="card-body">
                        <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-success">Edit</a>
                        <form class="d-inline" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger card-link">Delete</button>
                        </form>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="col-6 justify-content-center">
            <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="validated-form" novalidate>
                <% if(currentUser) {%>
                    <h6>Leave a Review</h6>
                    <div class="mb-3">
                        <label class="form-label" for="rating">Rating</label>
                        <input class="form-range" type="range" name="review[rating]" id="rating" min="1" step="1"
                            max="5">
                        <div>
                            <label class="form-label" for="body">Review</label>
                            <textarea class="form-control" name="review[body]" id="body" cols="80" rows="5"
                                required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Submit</button>
                    </div>
                    <% } %>
            </form>
            <% for (let review of campground.reviews) {%>
                <div class="mb-3 card">
                    <div class="card-body">
                        <h6 class="card-title">
                            Rating: <%= review.rating %>
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            @<%= review.author.username %>
                        </h6>
                        <p class="card-text">
                            Review: <%= review.body %>
                        </p>
                        <% if( currentUser && review.author.equals(currentUser._id)) {%>
                            <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                            <% } %>
                    </div>
                </div>
                <div class="w-100"></div>
                <% } %>
        </div>
    </div>